@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

h1, h2 {
    font-family: 'Merriweather', serif;
}

h1.title {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0;
}

h1.title + #byline {
    margin-top: 5px;
}

h1.section-title {
    font-size: 55px;
    font-weight: 900;
}

span {
    display: inline-block; /* inline-block enforces single underline for multiple lines */
    border-bottom: 5px solid #b44444;
    padding-bottom: 5px;
}

h2.publication-type {
    font-size: 36px;
    font-weight: 700;
}

a {
    color: inherit;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

p.byline {
    font-size: 32px;
    font-weight: 300;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 2px;
}

h3 + p {
    margin-top: 0;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

nav ol li {
    display: inline-block;
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 400;
}

#title a,
nav a {
    text-decoration: none;
}

nav a:hover {
    border-bottom: 5px solid #b44444;
    padding-bottom: 3px;
}

body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    color: #141414;
}

section {
    width: 50%;
    margin-top: 50px;
}

section#introduction {
    margin: 0;
}

h1.section-title {
    text-align: center;
    margin-bottom: 50px;
}

header {
    position: fixed;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 150px;
}

html {
  scroll-padding-top: 150px;
}

header + * {
    margin-top: 200px;
}

header nav {
    width: 50%;
}

div#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

#hero img {
    max-height: 300px;
    margin-right: 5em;
}

#hero section {
    width: 75%;
    margin-left: auto;
}

@media screen and (max-width: 1200px) {
    h1.title {
        margin-top: 0;
    }

    #byline {
        display: none;
    }

    header nav {
        width: 80%;
    }
}
