@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

h1, h2 {
    font-family: 'Merriweather', serif;
}

h1.title {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0;
}

h1.title + #byline {
    margin-top: 5px;
}

h1.section-title {
    font-size: 55px;
    font-weight: 900;
}

span {
    display: inline-block; /* inline-block enforces single underline for multiple lines */
    border-bottom: 5px solid #b44444;
    padding-bottom: 5px;
}

h2.publication-type {
    font-size: 36px;
    font-weight: 700;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

p.byline {
    font-size: 32px;
    font-weight: 300;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 2px;
}

h3 + p {
    margin-top: 0;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
}

nav ol li {
    display: inline-block;
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 400;
    padding: 30px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 5px solid #b44444;
    padding-bottom: 3px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 50%;
}

h1.section-title {
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

header nav {
    margin-left: auto;
}

div#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

#hero img {
    max-height: 300px;
    margin-right: 5em;
}

#hero section {
    width: 75%;
    margin-left: auto;
}
